---
layout: layouts/base.njk
---
<div class="container mt-2">
    
    <article>
    <h1>{{ title }}</h1>
    {{ Samenvatting | markdownify | safe }}
    <h2>Locatie</h2>
      <p>{{ location }}</p>
    
      <h2>Data en tijden</h2>
      {{ datetime | markdownify | safe }}
    
      <h2>Meer informatie</h2>
      {{ moreinfo | markdownify | safe }}
   <h2>Deelnemers</h2>
      
    <div class="container-programma mb-2">
        {% for artistSlug in artists %}
        {% set artist = collections["artistMap"][artistSlug] %}
        <div class="card card-programma-onderdeel">
        <img src="{{ artist.data.photo }}" alt="{{ artist.data.name }}" />
        <div class="card-content flex-apart">
          <div>
            <h2>{{ artist.data.name }}</h2>
            {{ artist.data.bio | markdownify | safe }}
    
          </div>
    
    
        </div>
    </div>
    
        {% endfor %}

    
    
    </article>
</div>
