---
layout: layouts/base.njk
---

<div class="container mt-2">
  <article>
    <h1>{{ title }}</h1>
    {{ Samenvatting | markdownify | safe }}
    <h2>Locatie</h2>
    <p>{{ location }}</p>

    <h2>Data en tijden</h2>
    {{ datetime | markdownify | safe }}

    <h2>Meer informatie</h2>
    {{ moreinfo | markdownify | safe }}
    <h2>Deelnemers</h2>

    <div class="container-programma mb-2">
      {% for artistSlug in artists %} {% set artist =
      collections["artistMap"][artistSlug] %}
      <div class="card">
        <img src="{{ artist.data.photo }}" alt="" />
        <div class="card-content flex-apart">
          <div>
            <h2>{{ artist.data.name }}</h2>
            <div class="bio-container">
              <div class="short-bio">
                {{ artist.data.bio_short | markdownify | safe }}
              </div>
              <div class="long-bio">
                {{ artist.data.bio_long | markdownify | safe }}
              </div>
              <button class="bio-toggle-button">Lees meer</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script>
      document.querySelectorAll(".bio-container").forEach((container) => {
        const shortBio = container.querySelector(".short-bio");
        const longBio = container.querySelector(".long-bio");
        const toggleButton = container.querySelector(".bio-toggle-button");

        // Initially, show the short bio and hide the long bio
        shortBio.style.display = "block";
        longBio.style.display = "none";

        toggleButton.addEventListener("click", () => {
          // When the button is clicked, toggle visibility of short and long bios
          const isLongBioVisible = longBio.style.display === "block";
          shortBio.style.display = isLongBioVisible ? "block" : "none";
          longBio.style.display = isLongBioVisible ? "none" : "block";

          // Also change the button text
          toggleButton.textContent = isLongBioVisible
            ? "Lees meer"
            : "Lees minder";
        });
      });
    </script>
  </article>
</div>
