.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto; }

body {
  overflow-x: hidden; }

.swiper {
  width: 100%;
  height: 30vh;
  overflow: hidden; }
  @media (min-width: 568px) {
    .swiper {
      height: 50vh;
      /* Set height for larger screens */ } }
  @media (min-width: 768px) {
    .swiper {
      height: 80vh;
      /* Set height for larger screens */ } }

.swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.plattegrond {
  max-width: 500px;
  margin: 0 auto; }

.container-programma {
  max-width: 1000px;
  display: grid;
  grid-gap: 2em; }
  @media (min-width: 768px) {
    .container-programma {
      grid-template-columns: repeat(2, 1fr); } }

.card {
  background: var(--bg-beige); }
  .card img {
    height: 200px;
    width: 100%;
    object-fit: cover; }
    @media (min-width: 768px) {
      .card img {
        height: 260px; } }

.card-programma-onderdeel img {
  height: 300px;
  width: 100%;
  object-fit: cover; }
  @media (min-width: 768px) {
    .card-programma-onderdeel img {
      height: 400px; } }

.more-info {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  margin-top: 0; }

.card-content {
  margin: 2em;
  margin-top: 1em; }
  .card-content p {
    margin-left: 0;
    margin-right: 0;
    font-size: clamp(1rem, 1.2vw, 1.5rem); }

.card {
  display: grid;
  /* Use grid instead of flex */
  grid-template-rows: auto 1fr;
  /* Define two rows: one for the image, one for the content */
  gap: 1em;
  /* Optional: Adds some space between the image and the content */ }

.card img {
  width: 100%;
  /* Remove height to maintain aspect ratio */ }

.card-content {
  /* Now .card-content will not overlap with the image */
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.ticket-grid {
  display: grid;
  gap: 2em; }
  @media (min-width: 768px) {
    .ticket-grid {
      grid-template-columns: repeat(2, 1fr); } }

.ticket-card {
  background: var(--bg-beige);
  border-radius: 16px;
  padding: 1em; }
  .ticket-card .day {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 1em;
    font-weight: 400; }
  .ticket-card .tickets-button {
    border: 2px solid white;
    margin-left: 0;
    width: 100%;
    margin-bottom: 0;
    margin-top: 3em; }

.responsive-video-container {
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */ }

.responsive-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin-inline: auto; }

@media screen and (min-width: 600px) {
  .logo-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); } }

@media screen and (min-width: 800px) {
  .logo-grid {
    grid-template-columns: repeat(4, 1fr); } }

.logo-item {
  display: flex;
  justify-content: center;
  /* Align horizontally */
  align-items: center;
  /* Align vertically */
  overflow: hidden;
  /* In case the images are larger than the div */
  background: rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  /* Makes the logo container square */
  padding: 1em;
  /* Adds space around the logos */ }

.logo-item img {
  max-width: 100%;
  height: auto; }

.accordion {
  margin-bottom: 1rem; }

.accordion .read-more {
  cursor: pointer;
  color: blue;
  text-decoration: underline; }

.accordion .accordion-content {
  display: none;
  margin-top: 1rem; }

.accordion-content {
  display: none; }

.show {
  display: block; }
