---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2">
  <h1 class="mb-2">Audiotour</h1>
  <h3><a href="\assets\1A_Beth_Juda.mp3" target="_blank">1A (Beth Juda)</a></h3>
  <audio controls controls="download" class="mb-2">
    <source src="\assets\1A_Beth_Juda.mp3" />
  </audio>

  <h3><a href="\assets\1B_Beth_Juda.mp3" target="_blank">1B (Beth Juda)</a></h3>
  <audio controls class="mb-2">
    <source src="\assets\1B_Beth_Juda.mp3" />
  </audio>

  <h3><a href="\assets\2A_Pilatus.mp3" target="_blank">2A (Pilatus)</a></h3>
  <audio controls class="mb-2">
    <source src="\assets\2A_Pilatus.mp3" />
  </audio>

  <h3><a href="\assets\2B_Pilatus.mp3" target="_blank">2B (Pilatus)</a></h3>
  <audio controls class="mb-2">
    <source src="\assets\2B_Pilatus.mp3" />
  </audio>

  <h3><a href="\assets\3_Golgotha.mp3" target="_blank">3 (Golgotha)</a></h3>
  <audio controls class="mb-2">
    <source src="\assets\3_Golgotha.mp3" />
  </audio>
</div>
