---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2">
  <h1 class="mb-2">Audiotour</h1>
  <h3>A1 (Beth Juda)</h3>
  <audio controls controls="download" class="mb-2">
    <source src="\assets\1A_Beth_Juda.mp3" />
  </audio>

  <h3>A2 (Beth Juda)</h3>
  <audio controls class="mb-2">
    <source src="\assets\1B_Beth_Juda.mp3" />
  </audio>

  <h3>B1 (Pilatus)</h3>
  <audio controls class="mb-2">
    <source src="\assets\2A_Pilatus.mp3" />
  </audio>

  <h3>B2 (Pilatus)</h3>
  <audio controls class="mb-2">
    <source src="\assets\2B_Pilatus.mp3" />
  </audio>

  <h3>C (Golgotha)</h3>
  <audio controls class="mb-2">
    <source src="\assets\3_Golgotha.mp3" />
  </audio>
</div>
