---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2">
  {{ index.content1 | markdownify | safe }}
  <div class="tickets-button">
    <a href="/tickets" class="">
      Bestel uw tickets
      <span class="close"
        ><img src="assets/images/play-outline-svgrepo-com.svg" alt="" />
      </span>
    </a>
  </div>
  {{ index.content2 | markdownify | safe }}
  <div class="tickets-button">
    <a href="/programma" class="">
      Programma
      <span class="close"
        ><img src="assets/images/play-outline-svgrepo-com.svg" alt="" />
      </span>
    </a>
  </div>
  {{ index.content3 | markdownify | safe }}
  <div class="plattegrond">
    <img
      class=""
      src="assets/images/MO_plattegrond-flyer-2023-1-paginas-2-gedraaid-pdf.jpg"
      alt=""
    />
  </div>
  {#
  <h3>Parsifal, acte 3</h3>
  <p>
    Hoofdbestanddeel van het festival is de uitvoering van de derde acte van
    Wagners Parsifal. Volkskrantrecensent Merlijn Kerkhof schreef over de
    uitvoering: “Zondag was ik getuige van zoiets bijzonders dat ik alleen maar
    voor u kan hopen dat u ook in het publiek zat.” De uitvoering vindt plaats
    in de bijzondere Cenakelkerk, die ook het decor vormt in de apotheose van de
    opera.
  </p>
  <a href="">Lees meer.</a>
  <h3>Masterclass Eva Maria Westbroek</h3>
  <p>
    Gedurende vier dagen zullen maximaal 6 studenten door Eva Maria Westbroek
    gecoacht worden in uiteenlopend operarepertoire. Zij is op dit moment een
    van de befaamdste operazangeressen wereldwijd, en trad op in diverse
    Wagneropera’s. Wagner is uiteraard van de partij maar ook andere componisten
    zullen de revue passeren. De werving en selectie van de zangers gaat in
    samenwerking met het Wagnergenootschap Nederland. De lessen zijn gratis,
    maar onderdak en verblijfskosten zijn voor rekening van de studenten.
  </p>
  #}
  <p>Deze website is in ontwikkeling.</p>
  {# <a href="">Lees meer.</a> #}
</div>
