---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2">
  {{ index.content1 | markdownify | safe }}
  <div class="tickets-button">
    <a href="/tickets" class="">
      Bestel uw tickets
      <span class="close"
        ><img src="assets/images/play-outline-svgrepo-com.svg" alt="" />
      </span>
    </a>
  </div>
  {{ index.content2 | markdownify | safe }}
  <div class="tickets-button">
    <a href="/programma" class="">
      Programma
      <span class="close"
        ><img src="assets/images/play-outline-svgrepo-com.svg" alt="" />
      </span>
    </a>
  </div>
  {{ index.content3 | markdownify | safe }}
  <div class="responsive-video-container mb-2">
    <iframe
      src="https://www.youtube.com/embed/rg1yl6a2viY"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</div>
