---
layout: layouts/base.njk
title: Wagner4daagse
---

<section class="hero">
  <!-- Slider main container -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel1.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel2.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel3.jpg')"
      ></div>
    </div>
  </div>
</section>
<div class="container">
  <a
    href="https://www.klassiekemuziek.nl/p/17515/wagner4daagse-met-marc-pantus-friends"
    target="_blank"
    class="tickets-button"
    >Tickets</a
  >
  <h1>Wagner4daagse</h1>
  <h2>Heilig Landstichting</h2>

  <p>
    Van 10 tot en met 13 augustus 2023 vindt in de Heilig Landstichting (in de
    bossen bij Nijmegen) de eerste editie van de Wagner4daagse plaats. Het is
    een vierdaags festival gewijd aan muziek van Richard Wagner, bewerkt voor
    een kamermuzikale bezetting. De kern van deze editie van het festival is de
    opera <a href="https://parsifal3.nl">Parsifal, acte 3</a> in de prachtige
    Cenakelkerk. De overige onderdelen van het festival vinden plaats in het
    naastgelegen Museumpark Orientalis en het monumentale Begraafpark Heilig
    Landstichting.<br /><br />
    Eva-Maria Westbroek geeft een openbare masterclass aan een zestal
    getalenteerde jonge zangers. Er is een gratis audiowandeling door het park
    met Arnon Grunberg. Hij spreekt over lijden en verlossing (de thema’s van de
    opera Parsifal), Wagners antisemitisme en Wagner als schrijver. In de
    synagoge van het museumpark neemt Middeleeuwen-specialist en performer Tis
    Kaoru u mee naar Wagners middeleeuwse bronnen, de sage Parcival van Wolfram
    von Eschenbach en de muziek van de Minnesänger. Dirk Luijmes tovert met
    klanken en kleuren in een harmonium-solorecital met muziek van Wagner, Liszt
    en Bruckner.<br /><br />
    Het Cosima Koperkwintet speelt op de binnenplaats van het paleis van Pilatus
    werken van Wagner en Mendelssohn, gelardeerd met dagboekfragmenten van
    Cosima Wagner. Bovendien markeren ze met een korte fanfare vanaf het balkon
    van de Cenakelkerk de aanvang van de opera, net zoals dat bij de Bayreuther
    Festspiele gebeurt. Een gratis ‘silent disco’, midden in het bospark, waar
    het publiek kan luisteren naar pianola-inspelingen van delen uit Parsifal
    door Felix Mottl, de dirigent van de premiere van Der Ring des Nibelungen,
    maakt het programma compleet ('silent disco': u hoort de muziek op een
    koptelefoon die wij ter beschikking stellen). <br /><br />Het Museumpark
    Orientalis is gratis toegankelijk met Museumkaart, festivalbezoekers zonder
    Museumkaart kunnen tegen een sterk gereduceerd tarief een toegangskaart voor
    het museum kopen.
  </p>
  {#
  <h3>Parsifal, acte 3</h3>
  <p>
    Hoofdbestanddeel van het festival is de uitvoering van de derde acte van
    Wagners Parsifal. Volkskrantrecensent Merlijn Kerkhof schreef over de
    uitvoering: “Zondag was ik getuige van zoiets bijzonders dat ik alleen maar
    voor u kan hopen dat u ook in het publiek zat.” De uitvoering vindt plaats
    in de bijzondere Cenakelkerk, die ook het decor vormt in de apotheose van de
    opera.
  </p>
  <a href="">Lees meer.</a>
  <h3>Masterclass Eva Maria Westbroek</h3>
  <p>
    Gedurende vier dagen zullen maximaal 6 studenten door Eva Maria Westbroek
    gecoacht worden in uiteenlopend operarepertoire. Zij is op dit moment een
    van de befaamdste operazangeressen wereldwijd, en trad op in diverse
    Wagneropera’s. Wagner is uiteraard van de partij maar ook andere componisten
    zullen de revue passeren. De werving en selectie van de zangers gaat in
    samenwerking met het Wagnergenootschap Nederland. De lessen zijn gratis,
    maar onderdak en verblijfskosten zijn voor rekening van de studenten.
  </p>
  #}
  <p>Deze website is in ontwikkeling.</p>
  {# <a href="">Lees meer.</a> #}
</div>
