---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2">
  {{ informatie.content | markdownify | safe }}
  <div class="logo-grid mb-2">
    {% for logo in informatie.logos %}
    <div class="logo-item">
      <img src="{{ logo.image }}" alt="{{ logo.alt }}" />
    </div>
    {% endfor %}
  </div>
</div>
