---
layout: layouts/base.njk
title: Wagner4daagse
---

<div class="container mt-2 mb-2">
  {{ tickets.content | markdownify | safe }}
  <div class="ticket-grid">
    <div class="ticket-card">
      <span class="day">Dag 1</span
      ><span class="date">donderdag 10 augustus</span>
      <div class="tickets-button">
        <a href="https://www.klassiekemuziek.nl/e/17515/tickets/" class="">
          Bestel uw tickets
          <span class="close"
            ><img src="/assets/images/play-outline-svgrepo-com.svg" alt="" />
          </span>
        </a>
      </div>
    </div>

    <div class="ticket-card">
      <span class="day">Dag 2</span
      ><span class="date">vrijdag 11 augustus</span>
      <div class="tickets-button">
        <a href="https://www.klassiekemuziek.nl/e/17521/tickets/" class="">
          Bestel uw tickets
          <span class="close"
            ><img src="/assets/images/play-outline-svgrepo-com.svg" alt="" />
          </span>
        </a>
      </div>
    </div>

    <div class="ticket-card">
      <span class="day">Dag 3</span
      ><span class="date">zaterdag 12 augustus</span>
      <div class="tickets-button">
        <a href="https://www.klassiekemuziek.nl/e/17522/tickets/" class="">
          Bestel uw tickets
          <span class="close"
            ><img src="/assets/images/play-outline-svgrepo-com.svg" alt="" />
          </span>
        </a>
      </div>
    </div>

    <div class="ticket-card">
      <span class="day">Dag 4</span><span class="date">zondag 13 augustus</span>
      <div class="tickets-button">
        <a href="https://www.klassiekemuziek.nl/e/17523/tickets/" class="">
          Bestel uw tickets
          <span class="close"
            ><img src="/assets/images/play-outline-svgrepo-com.svg" alt="" />
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
