<section class="hero">
  <!-- Slider main container -->
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for image in index.carrouselImages %}
      <div
        class="swiper-slide"
        style="background-image: url('{{ image.url }}')"
      ></div>
      {% endfor %}
    </div>
  </div>
</section>
