<section class="hero">
  <!-- Slider main container -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel1.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel2.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/caroussel3.jpg')"
      ></div>
      <div
        class="swiper-slide"
        style="
          background-image: url('/assets/images/Arabisch-dorp-scaled.jpeg');
        "
      ></div>
      <div
        class="swiper-slide"
        style="background-image: url('/assets/images/heilig-landstichting.jpg')"
      ></div>
    </div>
  </div>
</section>
