<section class="hero">
  <!-- Slider main container -->
  <div class="swiper">
    <div class="swiper-wrapper">
      {% if 'informatie' in page.url %}
      <!-- Code for Informatie page -->
      <div
        class="swiper-slide"
        style="background-image: url('{{ informatie.image }}')"
      ></div>
      {% elif 'programma' in page.url %}
      <div
        class="swiper-slide"
        style="background-image: url('{{ programma.image }}')"
      ></div>
      {% elif 'tickets' in page.url %}
      <div
        class="swiper-slide"
        style="background-image: url('{{ tickets.image }}')"
      ></div>
      {% else %} {% for image in index.carrouselImages %}
      <div
        class="swiper-slide"
        style="background-image: url('{{ image.url }}')"
      ></div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>
