<header>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img
          class="logo-img"
          src="/assets/images/Wagner4daagse_logo_lang.svg"
          alt=""
        />
      </div>
      <a href="#" class="menu-items">Tickets</a>

      <a href="#" class="menu-items">Informatie</a>
    </nav>
  </div>
</header>
